@font-face {
    font-family: "Montserrat-Bold";
    src: url("../fonts/Montserrat-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Montserrat-Medium";
    src: url("../fonts/Montserrat-Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "NunitoSans-Bold";
    src: url("../fonts/NunitoSans_10pt-Bold.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "NunitoSans-Regular";
    src: url("../fonts/NunitoSans_10pt-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "NunitoSans-SemiBold";
    src: url("../fonts/NunitoSans_10pt-SemiBold.ttf");
    font-weight: 700;
}